<div class="container" >

 <!-- Outer Row -->
 <div class="row justify-content-center" style="    margin-top: 0%; margin-right: -60%">

   <div class="col-xl-10 col-lg-12 col-md-9">

   <div class="card-body p-0">
    <div class="row">
                
    <div class="col-lg-6">
    <div class="p-5">
                   
    <form #myform="ngForm"> <!-- # pour le nom de validation-->
    <table>
      <tr><td colSpan="2"><h1  style="    margin-top: 10%">Inscription</h1></td></tr>
  <tr><td><h6 class="signup-link register">Vous avez déjà un compte? <a href="connexion">Connexion</a></h6></td></tr>
    <tr><td >Nom :</td>
   <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>                   
  <input class="form-control" #cnom="ngModel" [(ngModel)]="user.nom" pattern="[A-Za-z 'éè]{3,30}" required type="text" name="n"><td></td></tr><!-- ngModel pour la valeur-->
  <tr><td >Prenom :</td>
    <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    <input class="form-control" #cprenom="ngModel" pattern="[A-Za-z 'éè]{3,30}" [(ngModel)]="user.prenom" required type="text" name="p" ><td></td></tr><!-- ngModel pour la valeur-->
  <tr><td >telephone :</td>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
    <input class="form-control" #ctelephone="ngModel" pattern="[0-9]" [(ngModel)]="user.telephone" required type="number"  name="t"> <td></td></tr><!-- ngModel pour la valeur-->
  <tr><td >rue :</td>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
    <input class="form-control" #crue="ngModel" pattern="[A-Za-z 'éè 0-9]{3,60}" [(ngModel)]="user.rue" required type="text" name="r"><td></td></tr>
   <tr><td >ville :</td>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
    <input class="form-control" #cville="ngModel" pattern="[A-Za-z 'éè 0-9]{3,60}" [(ngModel)]="user.ville" required type="text" name="v"><td></td></tr>
   <tr><td >code postal :</td><input class="form-control" #ccodeP="ngModel" pattern="[0-9]{3,30}" [(ngModel)]="user.codeP" required type="text" name="c"><td></td></tr>
    <tr><td >Login :</td>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
        <input class="form-control" #cmail="ngModel" [(ngModel)]="user.login" required type="email" name="mail"><td></td></tr><!-- ngModel pour la valeur-->
    <tr><td >Mot de passe :</td><input class="form-control" #cpass="ngModel" type="password" required [(ngModel)]="user.mdp" name="mdp"><td></td></tr>
  <tr><td><div class="field-wrapper terms_condition">
   <div class="n-chk">
  <label class="new-control new-checkbox checkbox-primary">
  <input type="checkbox" class="new-control-input">
<span class="new-control-indicator"></span><span>je suis d'accord avec le <a href="javascript:void(0);">  termes et conditions </a></span>
    </label>
     </div>

 </div></td></tr>
  <tr><td colSpan="2"><input (click)="save()"  class="btn btn-primary"  type="button" value="se connecter"><br><!-- [] pour confirmer un etat-->
  <a href="">S'inscrire</a>
    
    </td></tr>
   <tr><td><div class="division">
  <span>OU</span>
 </div>
</td></tr>
<tr><td>
    <div class="social">
        <a href="https://www.facebook.com/" class="btn social-fb">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg> 
            <span class="brand-name">Facebook</span>
        </a></div>
        </td>

        <div class="social">
       <a href="https://github.com/" class="btn social-github">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
            <span class="brand-name">Github</span>
        </a>
    </div>
    

<td></td></tr>
    
    
    </table>
    
    
    </form>
    <div *ngIf="cnom.invalid && (cnom.dirty || cnom.touched)" class="alert alert-danger">
<div *ngIf="cnom.errors.required">
nom obligatoire.
</div>
<div *ngIf="cnom.errors.pattern">
    le nom ne peux contenir que des lettres et des espaces
    </div></div>
    <div *ngIf="cprenom.invalid && (cprenom.dirty || cprenom.touched)" class="alert alert-danger">
<div *ngIf="cprenom.errors.required">
prénom obligatoire.
</div>
<div *ngIf="cprenom.errors.pattern">
    le prénom ne peux contenir que des lettres et des espaces
    </div></div>
   <!-- 
        <div *ngIf="ctelephone.invalid && (ctelephone.dirty || ctelephone.touched)" class="alert alert-danger">
        <div *ngIf="ctelephone.errors.required">
            telephone obligatoire.
        </div>
       </div>
       
       <div *ngIf="crue.invalid && (crue.dirty || crue.touched)" class="alert alert-danger">
        <div *ngIf="crue.errors.required">
            rue obligatoire.
        </div>
       </div>
       <div *ngIf="cville.invalid && (cville.dirty || cville.touched)" class="alert alert-danger">
        <div *ngIf="cville.errors.required">
            ville obligatoire.
        </div>
       </div>
       <div *ngIf="ccodeP.invalid && (ccodeP.dirty || ccodeP.touched)" class="alert alert-danger">
        <div *ngIf="ccodeP.errors.required">
           code postal obligatoire.
        </div>
       </div>
-->











 </div>
</div></div></div></div></div></div>